// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar-color: #3c3e42;

/* universal */

body {
    padding: 60px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

section {
    overflow: auto;
}

.jumbotron {
    text-align: center;
}

/* header */

.navbar-inverse {
    background-color: $navbar-color;
}

#logo {
    font-size: 1.7em;
    font-weight: bolder;
    letter-spacing: -1px;
    color: #fff;
    text-decoration: none;
    float: left;
    padding-top: 9px;
    margin-right: 10px;
    &:hover {
        color: #fff;
    }
}

#logout {
    cursor: default;
    &:hover {
        background-color: transparent;
    }
}

/* footer */

footer {
    margin-top: 45px;
    color: #777;

    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }

    small {
        float: left;
    }

    ul {
        float: right;
        list-style: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }

    img.brand-icon {
        width: 17px;
        height: 17px;
    }

    .slogon {
        font-size: 13px;
        font-weight: bold;
    }

    .overline {
        border-top: 1px solid #eaeaea;
        padding-top: 5px;
    }
}

/* user_info */

section.user_info {
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    .gravatar {
        float: none;
        max-width: 70px;
    }
    h1 {
        font-size: 1.4em;
        letter-spacing: -1px;
        margin-top: 15px;
        margin-bottom: 3px;
    }
    h2 {
        margin-top: 10px;
        margin-bottom: 3px;
        a {
            color: #444;
            font-size: 0.9em;
            &:hover {
                color: #222;
            }
        }
    }
}

.gravatar {
    border-radius: 50%;
    max-width: 50px;
    float: left;
}

/* form */

.panel {
    margin-top: 50px;
}
input {
    border: 1px solid #bbb;
    margin-bottom: 15px;
    height: auto !important;
}

/* users_index */

.users {
    list-style: none;
    margin: 0;
    padding-left: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-top: 1px solid $gray-lighter;
        .username {
            margin-left: 10px;
        }
    }
}

.delete-btn {
    float: right;
    position: relative;
    right: 0;
}

/* users_edit */

.gravatar_edit {
    margin: 15px auto;
    text-align: center;
    .gravatar {
        float: none;
        max-width: 100px;;
    }
}

.edit_name {
    color: #777;
    font-style: italic;
    font-size: 0.8em;
}